.wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	background: var(--landing-background);
    background-size: cover;
}

.container-fluid {
    flex-grow: 1;
    margin-bottom: 40px;
}

.anim-logo {
    margin-top: 41px;
}

.sloganWallet {
	font-size: 34px;
	font-family: var(--special-font-bold);
	margin-bottom: 10px;
	font-weight: var(--special-font-weight);
}
.slogan {
    font-size: 20px;
    font-family: inherit;
	margin-bottom: 10px;
	letter-spacing: var(--special-font-spacing);
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.animate {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.check-card {
    box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.34);
    border: none;
    background-color: var(--info-card-background);
    margin-top: 31px;
    width: 350px;
	color: var(--text-title-color) !important;
}

.info {
    font-size: 18px;
    color: var(--text-title-color);
}

.public-input {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 175px;
}

.btn-check {
    margin-bottom: 10px;
    margin-left: 10px;
}

.card-block {
    border-bottom: 0;
    overflow-y: -webkit-paged-x;
    height: 154px;
}

.btn-max {
    margin: -10px 0 .25rem 0;
    min-width: unset;
}

.modal-body {
    overflow-y: hidden !important;
}
