.balance {
    font-size: 25px;
    margin-bottom: 19px;
}

.eos {
    font-size: 46px;
    margin-bottom: 19px;
    color: #0094d2;
}

.dollar {
    font-size: 25px;
    color: #565655;
}

.infos {
    font-size: 16px;
}

/*prime's table*/
/deep/ .overview-table .ui-table {
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial, sans-serif;
    margin-top: 20px;
    overflow-y: scroll;
}

/deep/ .overview-table .ui-table-tbody {
    background: linear-gradient(to bottom, rgba(47, 47, 47, 0.7), rgba(35, 37, 38, 0.86));
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    border: 0;
}

/deep/ .overview-table .ui-table .ui-table-tbody > tr {
    color: #b1b1b1;
    background: transparent;
}

/deep/ .overview-table .ui-table .ui-table-tbody > tr > td {
    border: none;
}

/deep/ .overview-table .ui-table .ui-table-tbody > tr {
    border-bottom: 1px solid #3f3f3f;
}

/deep/ .overview-table .ui-table .ui-table-tbody > tr:last-child {
    border-bottom: 0;
}

/deep/ .overview-table .ui-table .ui-table-tbody>tr>td {
    padding: 0.7em .5em;
}
/*prime's table end*/




.card {
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
    background: linear-gradient(to bottom, rgba(47, 47, 47, 0.7), rgba(35, 37, 38, 0.86));
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    border: 0;
    color: #b1b1b1;
}

.card-block {
    border-bottom: 1px solid #3f3f3f;
}

.white {
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.icon-pad {
    padding: 0 12px;
}


/*token's panel*/
.tokens-panel {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

.tokens-panel-header {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #3f3f3f;
}

.tokens-panel-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    list-style-type: none;
    border-bottom: 1px solid #3f3f3f;
    cursor: pointer;
}

li:hover {
    background-color: #1f1f1f;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

li:last-child {
    border-bottom: none;
}

.tokens-pad {
    padding: 1rem 1rem 0.7rem 1rem;
}
/*token's panel end*/

/*history*/
.expandable {
    cursor: pointer;
}

.expandable i:hover {
    color: #39c5ff;
}

.tr-canexpand:hover {
    cursor: pointer;
    background-color: #272727 !important;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.vertical-line {
    border-left: 1px solid #b1b1b1;
    position: absolute;
    left: 36%;
    width: 100%;
    height: 68px;
}

.tr-expanded > td {
    background: #272727;
    padding: 0.8em .5em;
}

.row-expanded {
    margin-left: 0;
    margin-right: 0;
}

/deep/ .ui-table-summary {
    background-color: #2C2C2C;
}

/deep/ .ui-state-active {
    border-color: #0094d2;
    background: #0094d2;
    color: #ffffff;
}
/*history end*/