<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="landing-logo-background">
          <div class="row animate fadeInDown">
            <div class="landing-logo">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        2 of 2
      </div>
    </div>
  </div>
</div>



<!--IMPORT EXODUS WALLET END-->

<!--<clr-wizard #wizardnew [(clrWizardOpen)]="newWallet" clrWizardSize="md">-->
<!--<clr-wizard-title>Create new wallet</clr-wizard-title>-->
<!--<clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>-->
<!--<clr-wizard-button [type]="'previous'">Back</clr-wizard-button>-->
<!--<clr-wizard-button [type]="'next'">Next</clr-wizard-button>-->
<!--<clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>-->
<!--<clr-wizard-page>-->
<!--<ng-template clrPageTitle>Step 1</ng-template>-->
<!--<h5 style="color: #a9a9a9">Choose your account name</h5>-->
<!--<h5 class="mt-0">12 characters. Allows all letters, numbers 1-5 and dots</h5>-->
<!--<mat-form-field class="mt-1">-->
<!--<input matInput placeholder="Account name" [(ngModel)]="accountname">-->
<!--<mat-error>-->
<!--Please enter a valid email address-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--</clr-wizard-page>-->
<!--<clr-wizard-page>-->
<!--<ng-template clrPageTitle>Step 2</ng-template>-->
<!--<h5>This will be your private keys. Please, <span class="bold">save it somewhere save</span></h5>-->
<!--<mat-form-field class="mt-1">-->
<!--<input matInput placeholder="Owner Private key" [(ngModel)]="ownerpk">-->
<!--<i matSuffix class="far fa-clone fa-lg copy"></i>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="mt-1">-->
<!--<input matInput placeholder="Active Private key" [(ngModel)]="activepk">-->
<!--<i matSuffix class="far fa-clone fa-lg copy"></i>-->
<!--</mat-form-field>-->
<!--</clr-wizard-page>-->
<!--<clr-wizard-page>-->
<!--<ng-template clrPageTitle>Step 3</ng-template>-->
<!--<h5>Define your password. This will be used to transactions confirmations.</h5>-->
<!--<mat-form-field class="mt-1">-->
<!--<input matInput type="password" placeholder="Password" [(ngModel)]="pass1">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="margin-top: 10px">-->
<!--<input matInput type="password" placeholder="Confirm password" [(ngModel)]="pass2">-->
<!--</mat-form-field>-->
<!--</clr-wizard-page>-->
<!--</clr-wizard>-->
