.total {
    font-size: 23px;
    margin-bottom: 19px;
}

.eos {
    font-size: 35px;
    margin-bottom: 19px;
}

.stake-slider {
    width: 100%;
    margin-top: 12px;
}

.instruction {
    font-size: 16px;
}

/*meterial's slider*/
::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #0094d2;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #0094d2;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #0094d2;
}

::ng-deep .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb {
    background-color: #a4a4a4;
}

::ng-deep .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: #a4a4a4;
}

::ng-deep .mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb {
    background-color: #a4a4a4;
}

::ng-deep .mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb-label {
    background-color: #8d8d8d;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-background {
    height: 3px;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-wrapper {
    height: 3px;
}

/*meterial's slider end*/

.input-width {
    width: 90%;
    margin-top: 20px;
}

.suffix {
    font-size: 21px;
    color: darkgrey;
}

::ng-deep .stake-slider .mat-slider-thumb-label-text::after {
    content: '%';
}

/*prime's table*/
::ng-deep .bps-table .p-datatable {
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

::ng-deep .bps-table .p-datatable-tbody {
    background: linear-gradient(to bottom, rgba(47, 47, 47, 0.7), rgba(35, 37, 38, 0.86));
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    border: 0;
}

::ng-deep .bps-table .p-datatable .p-datatable-tbody > tr {
    color: var(--table-tr-color);
    background: transparent;
}

::ng-deep .bps-table .p-datatable .p-datatable-tbody > tr > td {
    border: none;
}

::ng-deep .bps-table .p-datatable .p-datatable-tbody > tr {
    border-bottom: var(--tr-border-bottom-color);
}

::ng-deep .bps-table .p-datatable .p-datatable-tbody > tr:last-child {
    border-bottom: 0;
}

::ng-deep .bps-table .p-datatable .p-datatable-tbody>tr>td {
    padding: 0.7em .5em;
    font-size: 18px;
}

::ng-deep .bps-table .p-datatable .p-datatable-thead>tr>th {
    padding: 0.7em .5em;
    text-align: center;
}

::ng-deep .bps-table .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: var(--table-th-color);
}

::ng-deep .pos-column .p-sortable-column-icon {
    margin-left: 0 !important;
}

::ng-deep .ui-state-active {
    border-color: #0094d2;
    background: #0094d2;
    color: #ffffff;
}

.expandable fa-icon:hover {
    color: #39c5ff;
    cursor: pointer;
}

.expandRow td {
    background-color: var(--expand-background) !important;
}

.tr-canexpand:hover {
    cursor: pointer;
    background-color: var(--expand-background) !important;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.tr-expanded {
    border-bottom: 1px solid #3f3f3f;
}

.tr-expanded > td {
    background: var(--expand-background);
    padding: 0.8em .5em;
}

.row-expanded {
    margin-left: 0;
    margin-right: 0;
}
/*prime's table end*/

.title {
    font-weight: 500;
    margin-left: 10px;
    display: inline-flex;
}

.gbm-title {
	font-size: 16px;
}

.subtitle {
    display: inline-flex;
    margin-left: 10px;
}

.searchbar {
    margin-right: 10px;
    width: 237px;
}

li.social-icon {
    list-style-type: none;
    margin-right: 6px;
    display: inline;
}

li:last-child {
    list-style-type: none;
    margin-right: 0;
}

.social-icon > a {
    color: inherit;
    cursor: pointer;
}

a:visited {
    color: #0094d2;
    text-decoration: none;
}

.a-white {
    color: #b1b1b1 !important;
}

.a-white:hover {
    color: white !important;
    cursor: pointer;
}

.social-icon fa-icon:hover {
    color: var(--text-highlight);
    cursor: pointer;
}

.steemit {
    width: 29px;
    margin-bottom: 4px;
    opacity: 0.6;
}

.steemit:hover {
    opacity: 1;
}

::ng-deep .bp-map > div {
  margin: auto !important;
	overflow: hidden;
}

::ng-deep .map .ui-widget-content {
    border: none;
    background-color: transparent;
}

::ng-deep .map .ui-accordion-header-text {
    font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

::ng-deep .map .ui-accordion-header>a {
    padding: .5rem .75rem !important;
}

.warning-text {
	color: orange;
	font-weight: 600;
	cursor: pointer;
}

.warning-text:hover {
	text-decoration: underline;
}

.show {
	display: block;
}

.hidden {
	display: none;
}

/*tabs*/
::ng-deep #vote-tabs .mat-tab-header {
	background-color: var(--info-card-background);
}

::ng-deep #vote-tabs .mat-tab-label .mat-tab-label-content {
	font-size:17px !important;
    color: var(--vote-tab-color);
}

::ng-deep  #vote-tabs .mat-tab-label-active {
	background-color: var(--vote-tab-active);
}

::ng-deep  #vote-tabs .mat-tab-label-active .mat-tab-label-content {
    color: var(--vote-tab-active-color);
}
/*tabs end*/

::ng-deep .bps-table .p-datatable-caption, .p-datatable-summary {
	padding: 0 0 .25em 0;
}

.vote-sub-header {
	padding: 0.25em 1.1em 0.6em;
}

.mat-option {
	line-height: 24px;
	height: 54px;
	padding: 30px 16px;
}

.text-bold {
	font-weight: 700;
}

.votepage-row {
	margin-left: auto;
	margin-right: auto;
	max-width: 1104px;
    margin-bottom: 20px;
}

.rex-balances-top {
	background-color: var(--tr-resource-even-backgorund);
	padding: 5px 0 5px 12px;
	border-bottom: 1px solid var(--sidenav-active-border-color1);
	border-top: 1px solid var(--sidenav-active-border-color1);
	margin-top: 10px;
	color:var(--tr-resource-odd-color);
}

.rex-balances {
	background-color: var(--tr-resource-even-backgorund);
	padding: 5px 0 5px 12px;
	border-bottom: 1px solid var(--sidenav-active-border-color1);
	color:var(--tr-resource-odd-color);
}

::ng-deep .red-checkbox .mat-checkbox-frame {
	border-color: var(--text-error) !important;
}

::ng-deep .red-checkbox .mat-checkbox-label {
	color:  var(--text-error) !important;
}

::ng-deep .red-checkbox .mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: var(--text-error) !important;
}

