<toaster-container [toasterconfig]="config"></toaster-container>

<div class="container" style="height: 100%">
    <div class="row animate" style="padding-top: 15px;">
        <div class="col-lg-6">
            <div class="card info-card">
                <div class="card-block text-center">
                    <div class="total">TOTAL (${{(totalBalance * aService.usd_rate) | number}})</div>
                    <div class="blue eos">{{(totalBalance > 10000) ? ((totalBalance / 1000) |
                        number: '1.2-2') + "K" : ((totalBalance) | number: '1.2-2') }} EOS
                    </div>
                </div>
            </div>
            <div class="card info-card">
                <div class="card-block text-center">
                    <div class="total">STAKED (${{(stakedBalance * aService.usd_rate) | number}})</div>
                    <div class="blue eos">{{(stakedBalance > 10000) ? ((stakedBalance / 1000) |
                        number: '1.2-2') + "K" : ((stakedBalance) | number: '1.2-2') }} EOS
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card info-card disabled-card" pTooltip="soon"></div>
            <div class="card info-card">
                <div class="card-block">
                    <div class="instruction">Stake your EOS</div>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="input-width">
                                <input matInput type="number" min="0" max="100" placeholder="Value (%)"
                                       [(ngModel)]="percenttoStake">
                                <span class="suffix" matSuffix>%</span>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="input-width">
                                <input matInput type="number" min="0" placeholder="Value (EOS)"
                                       [(ngModel)]="valuetoStake">
                                <span class="suffix" matSuffix>EOS</span>
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <mat-slider class="stake-slider" [min]="min" [max]="max" [thumbLabel]="true"
                                    [tickInterval]="25" [(ngModel)]="percenttoStake"></mat-slider>
                    </div>
                    <button (click)="stakeModal = true" class="btn btn-outline btn-info-outline"
                            style="margin-top: 14px">Set Stake
                    </button>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-4">-->
        <!--</div>-->
    </div>
    <!--progress bar-->
    <div class="row animate">
        <div class="col-lg-12">
            <div class="progress-block">
                <label>Activation status</label>
                <div class="progress flash progress-fade labeled">
                    <progress max="100" [value]="voteService.stakePercent" data-displayval="0%"></progress>
                </div>
                <span>{{voteService.stakePercent}}%</span>
            </div>
        </div>
    </div>
    <!--progress bar end-->
    <div class="row animate">
        <div class="col-lg-12">
            <p-table #dt [value]="voteService.bps" [globalFilterFields]="['name','account','location']"
                     [responsive]="true" dataKey="account" class="bps-table" [paginator]="true" [rows]="42">
                <ng-template pTemplate="caption">
                    <div class="row flex-items-xs-between">
                        <div class="col-lg-5 col-md-5 text-left">
                            <h4 class="title">Vote for Block Producers! </h4>
                            <h5 class="subtitle mt-0">You can vote for up to 30</h5>
                        </div>
                        <div class="col-lg-4 col-md-6 text-right">
                            <mat-form-field class="searchbar">
                                <input type="text" matInput placeholder="Search..."
                                       (input)="dt.filterGlobal($event.target.value, 'contains')">
                                <fa-icon matSuffix [icon]="['far', 'search']" size="lg"></fa-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-lg text-right">
                            <button (click)="processVotes()" class="btn btn-info-outline"
                                    style="margin-top: 12px; margin-right: 25px" [disabled]="nVotes > 30">
                                CONFIRM VOTES
                            </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 50px;">
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            account
                        </th>
                        <th>
                            location
                        </th>
                        <th>
                            social
                        </th>
                        <th [pSortableColumn]="'total_votes'">
                            total votes
                            <p-sortIcon [field]="'total_votes'"></p-sortIcon>
                        </th>
                        <th style="width: 100px;">
                            {{nVotes}}/30
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-expanded="expanded">
                    <tr [pSelectableRow]="item" class="tr-canexpand">
                        <td class="text-right expandable" [pRowToggler]="item">
                            <i [ngClass]="expanded ? 'fa-search-minus' : 'fa-search-plus'"
                               class="fal fa-lg blue"></i>
                        </td>
                        <td class="text-center" [pRowToggler]="item">
                            {{item.name}}
                        </td>
                        <td class="text-center" [pRowToggler]="item">
                            {{item.account}}
                        </td>
                        <td class="text-center" [pRowToggler]="item">
                            {{item.location}}
                        </td>
                        <td class="text-center">
                            <ul>
                                <li class="social-icon" *ngIf="item.website">
                                    <a [href]="item.website" target="_blank">
                                        <i class="fas fa-globe fa-lg"></i>
                                    </a>
                                </li>
                                <li class="social-icon" *ngIf="item.social.steemit">
                                    <a [href]="'https://steemit.com/' + item.social.steemit" target="_blank">
                                        <img src="assets/steemit.png" class="steemit" style="">
                                    </a>
                                </li>
                                <li class="social-icon" *ngIf="item.social.telegram">
                                    <a [href]="'https://t.me/' + item.social.telegram" target="_blank">
                                        <i class="fab fa-telegram-plane fa-lg"></i>
                                    </a>
                                </li>
                                <li class="social-icon" *ngIf="item.social.twitter">
                                    <a [href]="'https://twitter.com/' + item.social.twitter" target="_blank">
                                        <i class="fab fa-twitter fa-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td class="text-center" [pRowToggler]="item">
                            {{item.total_votes}}
                        </td>
                        <td>
                            <mat-checkbox [(ngModel)]="item.checked" (change)="updateCounter()">Vote</mat-checkbox>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-item>
                    <tr class="tr-expanded">
                        <td colspan="7">
                            <div class="row row-expanded">
                                <div class="col-xs-auto">
                                    <div>
                                        <img [src]="item.logo_256" style="width: 150px; border-radius: 5px">
                                    </div>
                                </div>
                                <div class="col-xs">
                                    <!--<div>-->
                                        <!--<span *ngIf="item.status === 'producing'" class="label label-success">producing</span>-->
                                        <!--<span *ngIf="item.status === 'standby'" class="label label-warning">stand-by</span>-->
                                    <!--</div>-->
                                    <div *ngIf="item.code">
                      <span class="blue">
                          <a [href]="item.code" target="_blank">Code of conduct</a>
                      </span>
                                    </div>
                                    <div *ngIf="item.website">
                                        <span class="blue">Website: </span>
                                        <a [href]="item.website" class="a-white">{{item.website}}</a>
                                    </div>
                                    <div *ngIf="item.email">
                                        <span class="blue">Email:</span> {{item.email}}
                                    </div>
                                    <div>
                                        <span class="blue" *ngIf="item.social">All social media:</span>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <ul>
                                            <li class="social-icon" *ngIf="item.social.steemit">
                                                <a [href]="'https://steemit.com/@' + item.social.steemit"
                                                   target="_blank">
                                                    <img src="../../../assets/steemit.png" class="steemit" style="">
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="item.social.telegram">
                                                <a [href]="'https://t.me/' + item.social.telegram" target="_blank">
                                                    <i class="fab fa-telegram-plane fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="item.social.twitter">
                                                <a [href]="'https://twitter.com/' + item.social.twitter"
                                                   target="_blank">
                                                    <i class="fab fa-twitter fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="item.social.youtube">
                                                <a [href]="'https://www.youtube.com/channel/' + item.social.youtube"
                                                   target="_blank">
                                                    <i class="fab fa-youtube fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="item.social.facebook">
                                                <a [href]="'https://www.facebook.com/' + item.social.facebook"
                                                   target="_blank">
                                                    <i class="fab fa-facebook fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="item.social.github">
                                                <a [href]="'https://github.com/' + item.social.github" target="_blank">
                                                    <i class="fab fa-github fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="">
                                                <a [href]="'https://www.reddit.com/user/' + item.social.reddit"
                                                   target="_blank">
                                                    <i class="fab fa-reddit fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="item.social.keybase">
                                                <a [href]="'https://keybase.io/' + item.social.keybase" target="_blank">
                                                    <i class="fab fa-keybase fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="social-icon" *ngIf="item.social.wechat">
                                                <a [href]="'weixin://contacts/profile/' + item.social.wechat"
                                                   target="_blank">
                                                    <i class="fab fa-weixin fa-lg"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="ui-helper-clearfix">
                        <button (click)="processVotes()" class="btn btn-info-outline"
                                style="margin-top: 10px; margin-right: 25px; float:right;" [disabled]="nVotes > 30"
                                pTooltip="Cannot cast more than 30 votes" [tooltipDisabled]="nVotes <= 30">
                            CONFIRM VOTES
                        </button>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="stakeModal">
    <h3 class="modal-title text-white">Stake <span class="blue">20 EOS</span> ?</h3>
    <div class="modal-body">
        <h4 class="text-white">Voting power: <span class="blue">0,002%</span></h4>
        <h5 class="mt-0">After staking, this tokens will be locked for at least 3 days.</h5>
    </div>
    <div class="modal-footer">
        <mat-form-field>
            <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <button type="button" class="btn btn-info-outline" style="margin-top: 12px;" (click)="stakeModal = false">
            Confirm
        </button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="voteModal" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title text-white">Confirm <span class="blue">vote</span></h3>
    <div class="modal-body">
        <h4 class="text-white">Do you confirm voting on the following BPs?</h4>
        <h5 class="mt-0">{{selectedBPs.join(', ')}}</h5>
    </div>
    <form [formGroup]="passForm" class="modal-footer">
        <mat-form-field>
            <input matInput type="password" formControlName="pass" (keyup.enter)="modalVote(password.value)" #password
                   placeholder="Password">
            <mat-hint class="error" align="start" *ngIf="wrongpass !== ''">
                {{wrongpass}}
            </mat-hint>
        </mat-form-field>
        <button type="button" class="btn btn-info-outline" style="margin-top: 12px;"
                (click)="modalVote(password.value);" [disabled]="busy">
            Confirm
            <i class="far fa-spinner fa-spin" *ngIf="busy"></i>
        </button>
    </form>
</clr-modal>
