
ul {
	display: grid;
	columns: 2;
	-ms-grid-rows: 100px 10px 100px;
	-ms-grid-columns: 2fr 10px 2fr 10px 2fr;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	list-style: none;
}

li {
	background-color: var(--info-card-background);
	border-radius: 3px;
	padding: 20px;
	font-size: 14px;
	display: inline-block;
}

li:hover {
	background-color: var(--top-btn-background);
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.mat-button-toggle-group, .mat-button-toggle-standalone {
	display: contents !important;
	flex-direction: column !important;
}

.btn, .mat-button-toggle {
	text-transform: uppercase !important;
	padding: 0 !important;
}

.mat-button-toggle-checked {
	background-color: var(--text-highlight-primary) !important;
	color: white !important;
}
/deep/.vote-info.ui-tooltip{
	min-width:200px!important;
}
/deep/.text-muted {
	color: var(--text-faded) !important;
}
/*/deep/h4.text-muted2 {*/
/*	color:var(--text-faded) !important;*/
/*}*/

/deep/span.link-ref {
	color: var(--text-highlight-primary) !important;
	cursor: pointer;
}

/deep/span.link-ref:hover {
	text-decoration: underline var(--text-highlight-primary);
}

/deep/hr.lineHR{
	border: 0;
	border-bottom: 1px solid var(--text-highlight-primary);
	margin-top: 15px;
}
/*.modal-header {*/
/*border-bottom: none;*/
/*padding: 0 0 0rem !important;*/
/*}*/


/*.modal-dialog {*/
/*width: auto!important;*/
/*min-width: 24rem!important;*/
/*max-width: 65rem!important;*/
/*}*/

.boxExpires {
	float: right;
	position: relative;
	top: -20px;
	right: -19px;
	color: #ffffff;
	width: auto;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	/*border-left: 1px solid #fff;*/
	/*border-bottom: 1px solid #fff;*/
	border-radius: 0 3px 0 3px;
	box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
}

.expires {
	background-color: var(--text-highlight-primary);
}

.expired {
	background-color: var(--text-error);
}


/deep/ .filter-selector .mat-select-value {
	color: var(--text-highlight-primary);
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 21px;
}

/deep/ .ref-type .mat-select-value {
	color: var(--text-calendar);
}

/deep/ .filter-option.mat-option {
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 17px !important;
	/*background-color: #333333;*/
}

/deep/ .ref-option.mat-option.mat-active {
	color: var(--text-highlight-primary);
}

/deep/ .mat-select-panel {
	background: var(--info-card-background);
}

/deep/ .mat-primary .filter-option.mat-option.mat-selected:not(.mat-option-disabled) {
	color: var(--text-highlight-primary);
}

/deep/ .ref-type .filter-option.mat-selected:not(.mat-option-disabled) {
	color: var(--text-highlight-primary);
}

/deep/ .mat-select-arrow {
	color: var();
}

/deep/ .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
	color: var(--text-highlight-primary) !important;
}

/*domi's css*/
.info-card {
	border-radius: 5px 5px 0 0;
	padding: .5rem .75rem;
}

.create-proposal-card {
	background-color: var(--info-card-background);
	box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
	border: 0;
	border-radius: 0 0 5px 5px;
	margin-top: -9px;
}

.proposal-card {
	background-color: var(--info-card-background);
	box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
	border: 0;
}

.proposal-body {
	padding: 19px 19px 5px 19px;
}


.proposal-footer {
	padding: .5rem 0;
}

.title {
	font-weight: 500;
	margin-left: 10px;
	display: inline-flex;
}

.subtitle {
	display: inline-flex;
	margin-left: 10px;
}

.searchbar {
	margin-top: 6px;
	margin-right: 10px;
	width: 237px;
	font-size: 15px;
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}


/deep/ .searchbar .mat-form-field-infix {
	padding-top: 0;
	margin-bottom: 0.4375em;
}

.proposal-content {
	overflow-y: auto;
	height: 160px;
	padding: 5px;
	overflow-x: hidden;
}

/deep/ .mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
	background-color: #5fa053;
}

/deep/ .mat-progress-bar.mat-warn .mat-progress-bar-buffer {
	background-color: #f44336;
}

.green {
	color: #5fa053;
}

.red {
	color: #f44336;
}

/deep/ .proposal-body em {
	color: yellowgreen !important;
	font-style: normal !important;
}

.pagination-row {
	margin-top: 10px;
}

/deep/ .pagination-row .ngx-pagination .current {
	background: var(--text-highlight-primary);
	border-radius: 6px;
	box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
}

/deep/ .pagination-row .ngx-pagination a {
	color: var(--text-highlight);
}

/deep/ .pagination-row .ngx-pagination a:hover {
	background: var(--info-card-background);
	border-radius: 6px;
}

/deep/ .pagination-row .ngx-pagination .disabled {
	color: #737373;
}

.proposal-card:hover {
	cursor: pointer;
	background-color: var(--info-card-bg-hover);;
}

/deep/ .create-proposal {
	font-family: metropolis;
}

/deep/ .create-proposal .ui-accordion-content {
	background: none;
	padding-left: 21px;
}

/deep/ .create-proposal .ui-accordion .ui-accordion-header {
	padding: .2rem .75rem;
	font-size: 14px;
}

.howto-item {
	padding: 0 8px 8px 0;
}

input::placeholder {
	color: #cccccc;
}

.textarea {
	display: block;
}

.textarea textarea::placeholder {
	color: var(--text-calendar) !important;
	font-weight: 600;
	font-family: Roboto;
}

.textarea textarea {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: var(--text-calendar) !important;
}

/deep/ .mat-form-field-appearance-outline .mat-form-field-outline-thick {
	color: var(--text-calendar);
}

/deep/ .mat-focused .mat-form-field-outline-thick {
	color: var(--text-highlight-primary) !important;
}

/deep/ mat-form-field.mat-form-field {
	color: var(--text-calendar);
}

/deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
	color: var(--input-label);
}

.mat-input-element {
	font-family: Roboto;
}

.limit-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1104px;
}

/deep/ .markdown-preview .mat-tab-label {
	height: 33px;
}

/deep/ .markdown-preview .mat-tab-group {
	margin-top: 15px;
}

/deep/ .markdown-preview .mat-tab-header {
	margin-bottom: -2px;
}


/*Markdown INICIO*/
markdown ::ng-deep h6{ color: var(--text-card-title-color); }
markdown ::ng-deep h5{ color: var(--text-card-title-color); }
markdown ::ng-deep h4{ color: var(--text-highlight-primary); }
markdown ::ng-deep h3{ color: var(--text-highlight-primary); }
markdown ::ng-deep h2{ color: var(--text-highlight-primary); }
markdown ::ng-deep h1{ color: var(--text-highlight-primary); }
markdown ::ng-deep p{ color: var(--text-card-color);}
markdown ::ng-deep li{ color: var(--text-faded); }
/*Markdown FIM*/
