<clr-modal [(clrModalOpen)]="visibility" [clrModalStaticBackdrop]="true" (clrModalOpenChange)="onClose()">
	<h3 class="modal-title text-white">Confirm <span class="blue">{{modalData.actionTitle}}</span></h3>
	<div class="modal-body">
		<h5 class="gray mt-0">Account: {{modalData.signerAccount}}</h5>
		<h4 class="text-white" [innerHTML]="modalData.labelHTML"></h4>
		<h5 class="mt-0"></h5>
		<p-accordion *ngIf="displayTerms">
			<p-accordionTab [header]="modalData.termsHeader"
							[innerHTML]="modalData.termsHTML">
			</p-accordionTab>
		</p-accordion>
	</div>
	<form [formGroup]="confirmationForm" class="modal-footer">
		<ng-container>
			<mat-form-field>
				<input matInput #pass type="password" formControlName="pass"
					   (keyup.enter)="executeAction(pass.value);"
					   placeholder="Password">
				<mat-hint class="error" align="start" *ngIf="errormsg !== ''">
					{{errormsg}}
				</mat-hint>
			</mat-form-field>
			<button type="button" class="btn btn-info-outline" style="margin-top: 12px;"
					(click)="executeAction(pass.value);" [disabled]="busy">
				Confirm
				<fa-icon [icon]="['far','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
			</button>
		</ng-container>
	</form>
</clr-modal>
