<div class="container" style="height: 100%">
  <div class="row animate" style="padding-top: 15px;">
    <div class="col-lg-6">
      <h1><span class="white">About </span><span class="blue">EOS Rio</span></h1>
      <h5 style="margin-top: 10px;">Producer name: <span class="blue">eosriobrazil</span></h5>
      <p class="paragraph">EOS Rio is a Block Producer based in Rio de Janeiro.</p>
      <p class="paragraph">Located in Brazil, EOS Rio contributes to the geographical and cultural distribution of the
        EOS network,
        which is an important feature of a reliable and robust Delegated Proof of Stake (DPoS) network.</p>
      <p class="paragraph">We are a team of crypto-enthusiasts and EOS supporters who have been following EOS.IO
        development since
        its first release, contributing with discussion, tests, and offering open-source tools for the
        community, such as a control panel for other Block Producers, a sandbox environment for developers, a
        tool to map and optimize network topology and now, SimplEOS :)</p>
      <p class="paragraph">For more information on our projects, visit <a (click)="extOpen('https://eosrio.io')"
                                                                          class="website">eosrio.io</a></p>
      <p class="paragraph"><strong>Help us continue funding this projects by voting for us as Block Producers
        :)</strong></p>
      <p>
        <a (click)="extOpen('https://steemit.com/@eosrio')" class="social-icon">
          <img src="../../../assets/steemit.png" class="steemit">
        </a>
        <a (click)="extOpen('https://t.me/eosrio')" class="social-icon" style="margin-left: 10px">
          <fa-icon [icon]="['fab', 'telegram-plane']" size="2x"></fa-icon>
        </a>
        <a (click)="extOpen('https://github.com/eosrio')" class="social-icon" style="margin-left: 12px">
          <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
        </a>
        <a (click)="extOpen('https://twitter.com/eosriobrazil')" class="social-icon" style="margin-left: 12px">
          <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
        </a>
      </p>
    </div>
    <div class="col-lg-6">
      <img src="../../../assets/eosrioba512.jpg" style="border-radius: 5px; width: 100%;">
    </div>
  </div>
</div>
