.p {
    font-size: 17px;
    margin-top: 16px;
}

.website:visited {
    color: var(--text-highlight-primary);
    text-decoration: none;
}


.website:link {
    color: var(--text-highlight-primary);
    text-decoration: none;
}

.social-icon {
    color: #A9A9A9;
}

.social-icon fa-icon:hover {
    color: var(--text-white-color);
    cursor: pointer;
}

.steemit {
    width: 29px;
    margin-bottom: 11px;
    opacity: 0.7;
}

.steemit:hover {
    opacity: 1;
}
