.history-row {
  height: 100%;
  padding: 50px 15px;
}

/*prime's table*/
/deep/ .history-table .ui-table {
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
  font-family: Avenir Next, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Arial, sans-serif;
}

/deep/ .history-table .ui-table-tbody {
  background: linear-gradient(
    to bottom,
    rgba(47, 47, 47, 0.7),
    rgba(35, 37, 38, 0.86)
  );
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 5px;
  border: 0;
}

/deep/ .history-table .ui-table .ui-table-tbody > tr {
  color: #b1b1b1;
  background: transparent;
}

/deep/ .history-table .ui-table .ui-table-tbody > tr > td {
  border: none;
}

/deep/ .history-table .ui-table .ui-table-tbody > tr {
  border-bottom: 1px solid #3f3f3f;
}

/deep/ .history-table .ui-table .ui-table-tbody > tr:last-child {
  border-bottom: 0;
}

/deep/ .history-table .ui-table .ui-table-tbody > tr > td {
  padding: 0.7em .5em;
  font-size: 18px;
}

/deep/ .history-table .ui-table .ui-table-thead > tr > th {
  padding: 0.7em .5em;
}
/*prime's table end*/

/*material's tabs*/
/deep/ #history-tabs {
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
}

/deep/ #history-tabs .mat-tab-header {
  background-color: #333333;
  height: 50px;
}

/deep/ #history-tabs .mat-tab-labels {
  height: 50px;
}

/deep/ #history-tabs .mat-tab-label {
  height: 50px !important;
}

/deep/ #history-tabs .mat-tab-body-wrapper {
  height: 100%;
}
/*material's tabs end*/

.white {
  color: white;
  font-weight: 500;
}

.expandable {
  cursor: pointer;
}

.expandable i:hover {
  color: #39c5ff;
}

.tr-canexpand:hover {
  cursor: pointer;
  background-color: #272727 !important;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.vertical-line {
  border-left: 1px solid #b1b1b1;
  position: absolute;
  left: 28%;
  width: 100%;
  height: 68px;
}

.tr-expanded {
  border-bottom: 1px solid #3f3f3f;
}

.tr-expanded > td {
  background: #272727;
  padding: 0.8em .5em;
}

.row-expanded {
  margin-left: 0;
  margin-right: 0;
}

.eos {
  font-size: 37px;
  /*margin-bottom: 19px;*/
  color: #0094d2;
}

.dollar {
  font-size: 30px;
}

.infos {
  font-size: 19px;
}
