#update-box {
  visibility: hidden;
  max-width: 13rem;
  min-width: 9rem;
  width: 18%;
  background-color: #191919;
  color: #fff;
  text-align: center;
  border: 1px solid #343434;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: -1px;
  bottom: 0;
  margin:20px;
}

#update-box.show {
  visibility: visible;
  -webkit-animation: fadein 1.8s;
  animation: fadein 1.8s;
}

@-webkit-keyframes fadein {
  from {
    bottom: -120px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: -120px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.accounts-card {
  background-color: transparent;
  border: 1px solid #565656;
  box-shadow: none;
  color: #848484;
}

.accounts-section {
  border-bottom: 1px solid #444444;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.accounts-section:hover {
  background-color: #2b2b2b;
}

.constitution {
  border: 1px solid #484848;
  border-radius: 4px;
  padding: 10px 10px;
  max-height: 260px;
  margin-top: 5px;
  overflow-y: scroll;
  color: #808080;
  margin-bottom: 10px;
}

.chains-card {
	background-color: transparent;
	border: 1px solid #565656;
	box-shadow: none;
	color: #adadad;
}

.chain-section {
	border-bottom: 1px solid #444444;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.chain-section:not(.selected):hover {
	background-color: #2b2b2b;
	cursor: pointer;
}

.connect-anim {
	visibility: hidden;
	position: fixed;
}

.chain-section:hover > .connect-anim {
	visibility: visible;
	-webkit-animation: fadeInRight 1s;
	animation: fadeInRight 1s;
}

/*@-webkit-keyframes fadeInRight {*/
	/*0% {*/
		/*opacity: 0;*/
		/*left: 120px;*/
	/*}*/
	/*100% {*/
		/*opacity: 1;*/
		/*left: 0;*/
	/*}*/
/*}*/

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.skull-icon {
	font-size: 22px;
	margin-left: -1px;
}

/*.alert-text {*/
	/*margin-left: 21px;*/
/*}*/
