.container-fluid, .send-row {
    height: 100%;
}

.balance {
    font-size: 21px;
    margin-bottom: 19px;
}

.eos {
    font-size: 46px;
    margin-bottom: 19px;
    color: #0094d2;
}

.dollar {
    font-size: 26px;
}

.mat-form-field {
    display: block !important;
}

.field-width {
    /*width: 100%;*/
    width: 262px;
}

form {
    display: inline-block;
}

/deep/ .mat-form-field-appearance-legacy .mat-hint {
    color: #b1b1b1;
}

/*contact's panel*/
.contacts-pad {
    padding: 1rem 1rem 0.7rem 1rem;
}

.letter-divider {
    border-bottom: 1px solid #3f3f3f;
    border-top: 1px solid #3f3f3f;
}

.letter {
    color: #e3e3e3;
    padding-left: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    border-bottom: 1px solid #3f3f3f;
    cursor: pointer;
}

li:hover {
    background-color: #1f1f1f;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.last-item {
    border-bottom: none;
}

.contacts-panel {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

.contacts-panel-header {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #3f3f3f;
}

.contacts-panel-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.newContactBtn {
    background-color: #00000059;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-top: 1px solid #3f3f3f;
    margin-bottom: 0;
}
/*contact's panel end*/

.mat-option {
    line-height: 24px;
    height: 54px;
    padding: 30px 16px;
}

.name {
    color: white;
}

.account {
    font-size: 14px;
}

mat-option:not(.last) {
    border-bottom: 1px solid #404040;
}

/deep/ .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: #3a3a3a;
}

.btn-max {
    margin: -10px 0 .25rem 0;
    min-width: unset;
}

.searchform {
    padding-top: 0;
    width: 100%;
}

.confirmForm {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
}

.error {
    color: #f44336 !important;
}

.deleteBtn, .editBtn {
  min-width: 0;
}
