.container-fluid, .send-row {
    height: 100%;
}

.balance {
    font-size: 21px;
    margin-bottom: 19px;
}

.eos {
    font-size: 46px;
    margin-bottom: 19px;
	font-family:  var(--special-font-bold);
	/*font-weight: var(--special-font-weight);*/
    line-height: 44px;
}

.dollar {
    font-size: 26px;
}

.mat-form-field {
    display: block !important;
}

.field-width {
    /*width: 100%;*/
    width: 262px;
}


form {
    display: inline-block;
}

::ng-deep .mat-form-field-appearance-legacy .mat-hint {
    color: #b1b1b1;
}

/*contact's panel*/
.contacts-pad {
    padding: 1rem 1rem 0.7rem 1rem;
}

.letter-divider {
    border-bottom: 1px solid var(--letter-divider);
    border-top: 1px solid var(--letter-divider);
}

.letter {
    color: var(--letter-color);
	padding: 5px 0 2px 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    border-bottom: 1px solid #3f3f3f;
    cursor: pointer;
}

li:hover {
    background-color: var(--tokens-panel-hover);
    color: var(--sidenav-active-color);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

li:hover .contact-hover {
	color: var(--contact-hover-color);
}

.last-item {
    border-bottom: none;
}

.contacts-panel {
    background-color: var(--tokens-panel-background);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

.contacts-panel-header {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid var(--letter-divider);
}

.contacts-panel-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.newcontact-btn {
    background-color: var(--newcontact-btn-bg);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-top: 1px solid var(--newcontact-btn-bordertop);
    color: var(--newcontact-btn-color);
    margin-bottom: 0;
}

.newcontact-btn:hover {
    background-color: var(--newcontact-btn-bg-hover);
    color: var(--newcontact-btn-color-hover);
}
/*contact's panel end*/

.account {
    font-size: 14px;
}

.mat-option {
    line-height: 24px;
    height: 54px;
    padding: 30px 16px;
}

mat-option:not(.last) {
    border-bottom: 1px solid #404040;
}

::ng-deep .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: var(--info-card-bg-hover);
}

.mat-option.mat-active {
    background: rgba(0, 0, 0, 0.12);
    color: var(--text-highlight);
}

.btn-max {
    margin: -10px 0 .25rem 0;
    min-width: unset;
}

.searchform {
    padding-top: 0;
    width: 100%;
}

.confirmForm {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
}

.deleteBtn, .editBtn {
  min-width: 0;
}

::ng-deep .token-title-color .searchform .mat-form-field-appearance-legacy .mat-form-field-underline {
	background-color: var(--token-title-color);
}

::ng-deep .token-title-color .searchform input {
	color: var(--token-title-color) !important;
}

::ng-deep .token-title-color .searchform .mat-form-field-appearance-legacy .mat-form-field-label {
	color: var(--token-title-color);;
}

::ng-deep .token-title-color .mat-form-field.mat-focused .mat-form-field-label {
	color: var(--destaque-color-token);
}

::ng-deep .token-title-color .mat-form-field.mat-focused .mat-form-field-ripple {
	background-color: var(--destaque-color-token);
}

.account-color {
    color: var(--token-price-color);
}
