.info-card {
    background-color: var(--info-card-background);
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
}

.title {
    color: var(--text-title-color);
    font-size: 21px;
    border-bottom: 0;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.info {
    color: var(--text-title-color);
    margin-bottom: 20px;
}

.info2 {
    font-size: 17px;
    color: var(--text-title-color);
}

.chains-card {
    background-color: transparent;
    border: 1px solid #565656;
    box-shadow: none;
    color: #848484;
}

.chain-section {
    border-bottom: 1px solid #444444;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.chain-section:not(.selected):hover {
    background-color: var(--mat-tab-active);
    color: #f8f8f8;
    cursor: pointer;
}

.selected {
    background-color: var(--text-blue-color);
    color: white;
}

.disabled-card {
    background-color: rgba(70, 70, 70, 0.7607843137254902);
    z-index: 1000;
    width: calc(100% - 1rem);
    height: calc(100% - 20px);
    top: 0;
    left: .5rem;
    position: absolute;
    padding-right: .5rem;
    padding-left: .5rem;
}

/deep/ .modal-pin {
    overflow-y: hidden !important;
}

/deep/ .modal-pin>:last-child {
	 margin-bottom: 16px;
}

.pass-input {
    display: block;
}


/deep/ .chain-selector .mat-select-value  {
	color: var(--text-blue-color);
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 21px;
}

/deep/ .mat-optgroup-label  {
	color: var(--text-blue-color);
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px !important;
	line-height: 2.5em!important;
	height: 2.5em!important;
}

/deep/ .chain-option.mat-option{
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 17px !important;
	/*background-color: #333333;*/
}

/deep/ .mat-select-panel {
	background: var(--table-th-background);
}

/deep/ .mat-primary .chain-option.mat-option.mat-selected:not(.mat-option-disabled) {
	color: var(--text-blue-color);
}

/deep/ .mat-select-arrow {
	color: rgb(177, 177, 177);
}

/deep/ .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
	color: var(--text-blue-color) !important;
}

.borderb {
	border-bottom: 1px solid var(--sidenav-active-border-color1) !important;
}

