.title {
    font-size: 21px;
    border-bottom: 0;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 25px;
}

.info {
    margin-bottom: 20px;
}

.info2 {
    font-size: 17px;
}

.chains-card {
    background-color: transparent;
    border: 1px solid #565656;
    box-shadow: none;
    color: #848484;
}

.chain-section {
    border-bottom: 1px solid var(--text-faded);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.chain-section:not(.selected):hover {
    background-color: var(--info-card-bg-hover);
    cursor: pointer;
    color: var(--text-card-title-color);
}

.selected {
    background-color: var(--text-highlight-primary);
    color: white;
}

.disabled-card {
    background-color: rgba(70, 70, 70, 0.7607843137254902);
    z-index: 1000;
    width: calc(100% - 1rem);
    height: calc(100% - 20px);
    top: 0;
    left: .5rem;
    position: absolute;
    padding-right: .5rem;
    padding-left: .5rem;
}

/deep/ .modal-pin {
    overflow-y: hidden !important;
}

/deep/ .modal-pin>:last-child {
	 margin-bottom: 16px;
}

.pass-input {
    display: block;
}


/deep/ .chain-selector .mat-select-value  {
	color: var(--text-highlight-primary);
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 21px;
}

/deep/ .mat-optgroup-label  {
	color: var(--text-highlight-primary);
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px !important;
	line-height: 2.5em!important;
	height: 2.5em!important;
}

/deep/ .chain-option.mat-option{
	font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
	font-size: 17px !important;
}

/deep/ .mat-select-panel {
	background: var(--info-card-background);
}

/deep/ .mat-primary .chain-option.mat-option.mat-selected:not(.mat-option-disabled) {
	color: var(--text-highlight-primary);
}

/deep/ .mat-select-arrow {
    color: var(--text-card-color);
}

/deep/ .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
	color: var(--text-highlight-primary) !important;
}

.borderb {
	border-bottom: 1px solid var(--sidenav-active-border-color1) !important;
}

.clicked:hover {
    border-bottom: 1px solid var(--text-highlight-primary) !important;
}

.clicked {
    text-decoration: none;
    cursor: pointer !important;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-size: .6rem;
}

::ng-deep .black-tooltip {
    background-color: black;
    font-size: .65rem;
    letter-spacing: normal;
    font-family: Metropolis, sans-serif;
    white-space: pre-line;
    z-index: 5000;
}

