<div class="container" style="height: 100%; overflow-x: hidden;">

	<div class="row animate flex-items-xs-between" style="padding-top: 15px;">
		<div class="col-lg-7">
			<!--<div class="card info-card disabled-card" pTooltip="soon"></div>-->
			<div class="card info-card">
				<div class="card-header title">
					Connected to
					<mat-form-field class="example-full-width" style="width: 207px;">
						<mat-select [value]="network.activeChain['id']"
									(selectionChange)="changeChain($event)">
							<!--<fa-icon matSuffix [icon]="['fas', 'caret-down']"></fa-icon>-->
							<mat-option *ngFor="let chain of network.defaultChains"
										[value]="chain.id">
								{{ chain.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div class="card info-card">
				<div class="card-header title">
					Network Options
				</div>
				<div class="card-block">
					<div class="info2">Connect to another endpoint.</div>
					<div class="card chains-card">
						<ng-container *ngFor="let endpoint of network.validEndpoints">
							<div
								class="card-block chain-section {{network.selectedEP() === endpoint.url?'selected':''}}"
								(click)="selectEndpoint(endpoint)" *ngIf="endpoint.latency !== -1">
								{{endpoint.url}}
								<span style="float:right">latency: {{endpoint.latency}} ms</span>
							</div>
						</ng-container>
					</div>
					<div class="row" style="margin-left: 0;">
						<div class="col-xs-auto">
							<button class="btn btn-info-outline mt-1" (click)="endpointModal = true">Other</button>
						</div>
						<div class="col-xs-auto">
							<button class="btn btn-info-outline mt-1" (click)="network.connect(true)"
									pTooltip="Automatically connects on the fastest endpoint for you">Auto
							</button>
						</div>
						<div class="col-xs-auto" *ngIf="!network.networkingReady.getValue()">
							<fa-layers class="mt-2 mb-1">
								<fa-icon [icon]="['far', 'spinner']" [spin]="true" size="2x"
										 style="color:#0094d2;"></fa-icon>
							</fa-layers>
						</div>
						<div class="col-xs my-auto" *ngIf="!network.networkingReady.getValue()"
							 style="margin-top: auto; margin-bottom: auto; padding-top: 10px;">
							<span style="color:#0094d2; padding-left: 17px; font-size: 18px;">Connecting...</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="card info-card">
				<div class="card-header title">
					Logout Options
				</div>
				<div class="card-block">
					<button class="btn btn-info-outline" (click)="logoutModal = true">Clear local data and logout
					</button>
					<div class="info">*Your data will be cleared from this PC. Should you want to login again, you will
						have to
						import your private key again.
					</div>
				</div>
			</div>
			<div class="card info-card">
				<div class="card-header title">
					Lockscreen Pin &nbsp;
					<a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
						<fa-icon [icon]="['far','question-circle']" class="blue" style="font-size: 16px;"></fa-icon>
						<span class="tooltip-content">Small security pin <br> used to unlock the screen.
              </span>
					</a>
				</div>
				<div class="card-block">
					<button class="btn btn-info-outline" (click)="pinModal = true">SET PIN</button>
					<button class="btn btn-danger-outline" (click)="clearPinModal = true">REMOVE lOCKSCREEN</button>
				</div>
			</div>
			<div class="card info-card">
				<div class="card-header title">
					Change Password &nbsp;
					<a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
						<fa-icon [icon]="['far','question-circle']" class="blue" style="font-size: 16px;"></fa-icon>
						<span class="tooltip-content">Password used to <br> make transactions / actions.
              </span>
					</a>
				</div>
				<div class="card-block">
					<button class="btn btn-info-outline" (click)="changePassModal = true">CHANGE</button>
				</div>
			</div>
			<div class="card info-card">
				<div class="card-header title">
					Backup&nbsp;
					<a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
						<fa-icon [icon]="['far','question-circle']" class="blue" style="font-size: 16px;"></fa-icon>
						<span
							class="tooltip-content">Create a backup file that can only be imported back on SimplEOS. <br>Use your wallet with the same configuration at any device.
              </span>
					</a>
				</div>
				<div class="card-block">
					<div style="margin-bottom: 20px;">
						<mat-checkbox [checked]="autoBackup" (change)="toggleAutosave($event)">Automatic Backup&nbsp;
						</mat-checkbox>
						<a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
							<fa-icon [icon]="['far','question-circle']" class="blue" style="font-size: 16px;"></fa-icon>
							<span class="tooltip-content">Automatically backup whenever you open the wallet. The backup file will appear in the autosave folder that is created on the same place that SimplEOS is installed.</span>
						</a>
						<div *ngIf="lastBackupTime !== ''">* Last backup on {{lastBackupTime}}</div>
					</div>
					<button class="btn btn-info-outline" (click)="exportBKModal = true">EXPORT</button>
					<button class="btn btn-info-outline" (click)="importBKModal = true">IMPORT</button>
					<div style="margin-top: 20px;">
						<button class="btn btn-info-outline" (click)="viewPKModal = true">VIEW PRIVATE KEY
							<fa-icon [icon]="['fas', 'skull-crossbones']" size="lg"></fa-icon>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<clr-modal [(clrModalOpen)]="logoutModal" [clrModalSize]="'sm'">
	<h3 class="modal-title text-white">
		Are you <span class="blue">sure</span> ?
	</h3>
	<div class="modal-body">
		<p style="margin-bottom: 20px;">All your data will be lost. If you want to login again you will have to import
			your
			private key again.</p>
		<mat-checkbox [(ngModel)]="clearContacts">Also clear contacts on logout</mat-checkbox>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger-outline" (click)="logoutModal = false">Cancel</button>
		<div>
			<button type="button" class="btn btn-info-outline" (click)="logout()">
				Yes
			</button>
			<div class="text-center">*SimplEOS will <br> be restarted</div>
		</div>
	</div>
</clr-modal>

<clr-modal [(clrModalOpen)]="endpointModal" [clrModalSize]="'md'">
	<h3 class="modal-title text-white">
		Connect to another endpoint, enter url below:
	</h3>
	<div class="modal-body">
		<mat-form-field>
			<input matInput type="text" placeholder="endpoint" #customEndpoint>
		</mat-form-field>
	</div>
	<div class="modal-footer" style="padding: 0.5rem 0 0 0;">
		<button type="button" class="btn btn-info-outline" (click)="connectCustom(customEndpoint.value)">
			Connect
		</button>
	</div>
</clr-modal>

<clr-modal [(clrModalOpen)]="confirmModal" [clrModalSize]="'md'">
	<h3 class="modal-title text-white" *ngIf="selectedEndpoint">
		Connect to <span class="blue">{{selectedEndpoint.url}}</span> ?
	</h3>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger-outline" (click)="confirmModal = false">Cancel</button>
		<button type="button" class="btn btn-info-outline" (click)="connectEndpoint()">
			Connect
		</button>
	</div>
</clr-modal>

<clr-modal [(clrModalOpen)]="changePassModal" [clrModalSize]="'md'">
	<h3 class="modal-title text-white">
		<fa-icon [icon]="['fas','key']"></fa-icon>&nbsp;&nbsp;Change Password
	</h3>
	<div class="modal-body">
		<form [formGroup]="passForm">
			<mat-form-field class="mt-1 pass-input">
				<input matInput type="password" placeholder="Old password"
					   formControlName="oldpass">
			</mat-form-field>
			<mat-form-field class="mt-1  pass-input">
				<input matInput #pass type="password" placeholder="New password" (blur)="passCompare()"
					   [formControl]="passForm['controls'].matchingPassword['controls']['pass1']">
				<fa-icon matSuffix *ngIf="pass.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
						 (click)="pass.type = 'text'"></fa-icon>
				<fa-icon matSuffix *ngIf="pass.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
						 (click)="pass.type = 'password'"></fa-icon>
				<mat-hint align="start">
					Min 10 characters
				</mat-hint>
				<mat-hint align="end">{{pass.value.length}} / 10+</mat-hint>
			</mat-form-field>
			<mat-form-field style="margin-top: 19px" class="pass-input">
				<input matInput #pass2 type="password" placeholder="Confirm password" (blur)="passCompare()"
					   [formControl]="passForm['controls'].matchingPassword['controls']['pass2']">
				<fa-icon matSuffix *ngIf="pass2.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
						 (click)="pass2.type = 'text'"></fa-icon>
				<fa-icon matSuffix *ngIf="pass2.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
						 (click)="pass2.type = 'password'"></fa-icon>
				<mat-error *ngIf="!passmatch">
					Passwords do not match!
				</mat-error>
			</mat-form-field>
		</form>
	</div>
	<div class="modal-footer" style="padding: 0.5rem 0 0 0;">
		<button type="submit" class="btn btn-info-outline" (click)="changePass()" [disabled]="!passForm.valid">
			Change and Restart simplEOS
		</button>
	</div>
</clr-modal>

<clr-modal [(clrModalOpen)]="pinModal" [clrModalSize]="'sm'">
	<h3 class="modal-title text-white">
		Set lockscreen pin
	</h3>
	<div class="modal-body modal-pin" style="overflow-y: paged-x !important;">
		<form [formGroup]="pinForm">
			<mat-form-field class="mt-1">
				<input matInput #pin type="password" placeholder="New pin" formControlName="pin">
				<fa-icon matSuffix *ngIf="pin.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
						 (click)="pin.type = 'text'"></fa-icon>
				<fa-icon matSuffix *ngIf="pin.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
						 (click)="pin.type = 'password'"></fa-icon>
				<mat-hint align="start">
					This pin can be anything you want
				</mat-hint>
			</mat-form-field>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" (click)="setPIN()" class="btn btn-info-outline" [disabled]="!pinForm.valid">
			Set pin
		</button>
	</div>
</clr-modal>

<clr-modal [(clrModalOpen)]="clearPinModal" [clrModalSize]="'sm'">
	<h3 class="modal-title text-white">
		Are you <span class="blue">sure</span> ?
	</h3>
	<div class="modal-body">
		<p style="margin-bottom: 20px;">If you remove the lockscreen, your balance will be displayed when opening the
			wallet</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger-outline" (click)="clearPinModal = false">Cancel</button>
		<button type="button" class="btn btn-info-outline" (click)="clearPin()">
			Yes
		</button>
	</div>
</clr-modal>

<clr-modal [(clrModalOpen)]="importBKModal" [clrModalSize]="'md'">
	<h3 class="modal-title text-white">
		Select your backup file:
	</h3>
	<div class="modal-body">
		<form [formGroup]="importForm" (keyup.enter)="importBK()">
			<button type="button" class="btn btn-info-outline" (click)="inputIMClick()" style="margin-left:10px;">
				Select file
			</button>
			<mat-form-field class="mt-8">
				<input matInput #passimport type="password" placeholder="Password" formControlName="pass"
					   [disabled]="customImportBK">
				<!--<fa-icon matSuffix *ngIf="passimport.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"-->
						 <!--(click)="passimport.type = 'text'"></fa-icon>-->
				<!--<fa-icon matSuffix *ngIf="passimport.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"-->
						 <!--(click)="passimport.type = 'password'"></fa-icon>-->
				<mat-hint align="start">
					Password that was used to encrypt your file
				</mat-hint>
			</mat-form-field>
			<br/>
			<br/>
			<br/>
			{{choosedFil}}
			<input style="visibility:hidden;" type="file" placeholder="Backup file" (change)="importCheckBK($event)"
				   formControlName="customImportBK" #customImportBK>
		</form>
	</div>
	<div class="modal-footer" style="padding: 0.5rem 0 0 0;">
		<button type="button" class="btn btn-info-outline" (click)="importBK()" [disabled]="!importForm.valid"
				[disabled]="busy">
			Import
			<fa-icon [icon]="['far','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
		</button>
	</div>
</clr-modal>

<clr-modal [(clrModalOpen)]="exportBKModal" [clrModalSize]="'md'">
	<h3 class="modal-title text-white">
		Choose were to save your backup file:
	</h3>
	<div class="modal-body">
		<form [formGroup]="exportForm" (keyup.enter)="exportBK()">

			<mat-form-field class="mt-8">
				<input matInput #passexport type="password" placeholder="Encrypt your file" formControlName="pass">
				<fa-icon matSuffix *ngIf="passexport.type === 'password'" [icon]="['far', 'eye']" size="lg" class="copy"
						 (click)="passexport.type = 'text'"></fa-icon>
				<fa-icon matSuffix *ngIf="passexport.type === 'text'" [icon]="['far', 'eye-slash']" size="lg" class="copy"
						 (click)="passexport.type = 'password'"></fa-icon>
				<mat-hint align="start">
					This password can be anything you want
				</mat-hint>
			</mat-form-field>
			<button type="button" class="btn btn-info-outline" (click)="inputEXClick()" style="margin-left:10px;">
				Choose directory
			</button>
			<br/>
			<br/>
			<br/>
			{{choosedDir}}
			<input style="visibility:hidden;" type="file" placeholder="Backup Directory"
				   (change)="exportCheckBK($event)" formControlName="customExportBK" webkitdirectory directory
				   #customExportBK>

		</form>

	</div>
	<div class="modal-footer" style="padding: 0.5rem 0 0 0;">
		<button type="button" class="btn btn-info-outline" (click)="exportBK()" [disabled]="!exportForm.valid"
				[disabled]="busy">
			Export
			<fa-icon [icon]="['far','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
		</button>
	</div>
</clr-modal>

<clr-modal #pkModal [(clrModalOpen)]="viewPKModal" [clrModalSize]="'md'" (clrModalOpenChange)="closePkModal();">
	<h3 class="modal-title" style="color: #e12200;">
		Caution
		<fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
	</h3>
	<div class="modal-body">
		<div *ngIf="!showpk">
			<h4 class="text-white">Are you <span class="blue">sure</span> you want to see the active private key of the
				account <span class="blue">{{aService.selected.getValue().name}}</span>?</h4>
			<div style="color: #9A9A9A;">*Your private key is the only access to your account, so it should always be
				kept in a safe place.
			</div>
			<form [formGroup]="showpkForm" (keyup.enter)="viewPK()">
				<mat-form-field class="mt-8">
					<input matInput type="password" placeholder="Password" formControlName="pass">
				</mat-form-field>
				<button type="button" class="btn btn-info-outline" style="margin-left:10px;" (click)="viewPK()">
					YES, SHOW ME
					<fa-icon [icon]="['far','spinner']" [spin]="true" *ngIf="busy"></fa-icon>
				</button>
			</form>
		</div>
		<div *ngIf="showpk">
			<h4 class="text-white">Please, save the active key on a safe place and <span class="blue">never share your private key with
				anyone.</span></h4>
			<mat-form-field style="width: 470px; margin-top: 25px;">
				<input matInput placeholder="Active private key"
					   [value]="tempPK" readonly>
				<fa-icon matSuffix [icon]="['far', 'clone']" size="lg" class="copy" (click)="cc(tempPK)"></fa-icon>
			</mat-form-field>
		</div>
	</div>
	<div class="modal-footer" *ngIf="showpk">
		This window will close in {{timetoclose}}s...
	</div>
</clr-modal>


