.header {
    background-color: #191919;
    flex: 0 0 4.5rem;
    height: 4.5rem;
}

.content-area {
    background-color: #272727;
    padding: 0 !important;
}

.sidenav-header {
    flex: 0 0 auto;
    padding: 17px 20px 17px 20px;
    text-align: center;
    border-right: 1px solid #535353;
}

.sidenav {
    background-color: #191919;
    border: none;
}

.sidenav-content {
    /*display: table-row;*/
    flex: 0 1 auto;
    padding-bottom: 0;
}

.sidenav .sidenav-content>.nav-link {
    border-right: 1px solid #535353;
    color: #b1b1b1;
    margin: 0;
    padding: 20px 0 20px 25px;
}

.sidenav .sidenav-content>.nav-link.active {
    background: #272727;
    color: #e3e3e3;
    border-right: 1px solid #272727;
    border-bottom: 1px solid #535353;
    border-top: 1px solid #535353;
}

.sidenav .sidenav-content>.nav-link.active:hover {
    background: #272727;
}

.sidenav .sidenav-content>.nav-link:hover {
    background: #1f1f1f;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.placeholder {
    border-right: 1px solid #535353;
    flex: 1 1 auto;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.value {
    margin-top: 7px;
    font-size: 14px;
}

/*material's tabs*/
/deep/ #header-tabs .mat-tab-header {
    background-color: #191919;
    height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-labels {
    height: 4.5rem;
}

/deep/ #header-tabs .mat-tab-label {
    height: 4.5rem !important;
}

/deep/ #header-tabs .mat-tab-body-wrapper {
    height: 0;
}
/*material's tabs end*/

.navbar-btn {
    background-color: #191919;
    height: 4.5rem;
    color: #525a60;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.navbar-btn:hover {
    cursor: pointer;
    background-color: #1f1f1f;
    color: #e3e3e3;
}

.credits {
    text-align: center;
    font-size: 15px;
    margin-bottom: -4px;
    /*margin-bottom: 5px;*/
}

.version {
    text-align: center;
    margin-bottom: 5px;
    /*margin-bottom: -4px;*/
    font-size: 12px;
}

.newaccount {
    padding: 0 10px;
}

.cog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 19px;
}

.cog:focus {
    outline: 0;
}

.max-width {
    max-width: calc(100% - 161px);
}
