/*@import "~@fortawesome/fontawesome-pro/css/fontawesome.css";*/
/*@import "~@fortawesome/fontawesome-pro/css/brands.css";*/
/*@import "~@fortawesome/fontawesome-pro/css/light.css";*/
/*@import "~@fortawesome/fontawesome-pro/css/regular.css";*/
/*@import "~@fortawesome/fontawesome-pro/css/solid.css";*/


@font-face {
	font-family: 'Lora';
	src:url('./assets/fonts/Lora-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Lora-Italic';
	src:url('./assets/fonts/Lora-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Lora-Bold';
	src:url('./assets/fonts/Lora-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Lora-BoldItalic';
	src:url('./assets/fonts/Lora-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceCodePro';
	src:url('./assets/fonts/SourceCodePro-Regular.ttf') format('truetype');
}

:root{
	/*dark theme colors*/
	--black-sidenav: '#191919';
	--black-background: '#272727';
	--black-card: '#333333';
	--dark-hover: '#1f1f1f';
	--blue-color: '#0094d2';
	--blue-darker: '#0078a3';
	--white-color: '#ffffff';
	--gray-lighter: '#e3e3e3'; /*modal title, tab/sidenav text selected or hover, for example*/
	--gray-lightmedium: '#b1b1b1'; /*input*/
	--gray-medium: '#a4a4a4'; /*text card, text modal, for example*/
	--gray-darker: '#696969'; /*subtitles, faded information*/
	--red-color: '#fb3c2c';

	/*concepts*/
	--text-card-title-color: var(--gray-lighter);
	--text-free-title-color: var(--gray-lighter);
	--text-card-color: var(--gray-medium);
	--text-highlight: var(--white-color);
	--text-highlight-primary: var(--blue-color);
	--text-highlight-accent: var(--blue-color);
	--text-error: var(--red-color);
	--text-faded: var(--gray-darker);

	/*buttons*/
	/*solid*/
	--btn-primary-bg: var(--blue-color);
	--btn-primary-hover: var(--blue-darker);
	--btn-primary-color: var(--white-color);
	/*outline info*/
	--btn-info-outline: var(--blue-color);
	--btn-info-outline-hover: var(--blue-color);
	--btn-info-outline-color-hover: var(--white-color);
	/*outline inverse*/
	--btn-inverse-outline: var(--white-color);
	--btn-inverse-outline-hover: var(--blue-color);
	--btn-inverse-outline-color-hover: var(--white-color);
	/*outline accent*/
	--btn-accent-outline: var(--blue-color);
	--btn-accent-outline-hover: var(--blue-color);
	--btn-accent-outline-color-hover: var(--white-color);
	/*link*/
	/*used in... refresh btn, open account on explorer, reload all proxys*/
	--btn-primary-link-color: var(--blue-color);
	--btn-primary-link-color-hover: var(--blue-darker);
	--btn-primary-link-bg-hover: var(--white-color);
	/*used in... retry connect, clear all data and logout, made with love by ->EOS Rio<-, view on github (on update)*/
	--btn-accent-link-color: var(--blue-color);
	--btn-accent-link-color-hover: var(--blue-darker);
	--btn-accent-link-bg-hover: var(--white-color);

	/*typography*/
	--special-font-regular: inherit;
	--special-font-bold: inherit;
	--special-font-italic: inherit;
	--special-font-bolditalic: inherit;
	--special-font-weight: 'inherit';
	--special-font-spacing: 'inherit';

	/*main and body*/
	--main-background: var(--black-background);
	--background-gd: linear-gradient(to right, #232526, #414345);
	--background-gd-webkit: -webkit-linear-gradient(to right, #232526, #414345);
	--header-background: var(--black-background);
	--header-title-color: var(--gray-medium);
	--header-icon-color: var(--gray-lighter);
	--theme-icon-color: var(--gray-lighter);
	--theme-icon-color-hover: var(--gray-medium);

	/*landing*/
	--slogan-special-color: 'inherit';
	--landing-background: 'url("./assets/fundosimpleos.png")';
	--text-on-cover: #a4a4a4;
	/*--landing-image-background:url("./assets/fundosimpleos.png");*/

	/*sidenav*/
	--dashboard-animation-display: block;
	--dashboard-img-display: none;
	--sidenav-background: var(--black-sidenav);
	--sidenav-color: var(--gray-lightmedium);
	--sidenav-active-background: var(--black-background);
	--sidenav-active-color: var(--gray-lighter);
	--sidenav-active-border-color1: var(--black-background);
	--sidenav-active-border-color2: var(--gray-darker);

	/*toolbar*/
	--top-btn-background: var(--dark-hover);
	--top-btn-color: var(--gray-lighter);
	/*tabs*/
	--mat-tab-active: var(--black-card);
	--mat-tab-bar-active: var(--blue-color);
	--mat-tab-bar-height: 2px;

	/*vote tabs AND rex tabs*/
	--vote-tab-color: var(--gray-darker);
	--vote-tab-active: var(--black-card);
	--vote-tab-active-color: var(--gray-lighter);

	/*tokens panel*/
	--tokens-panel-background: var(--black-sidenav);
	--destaque-color-token: var(--blue-color);
	--token-title-color: var(--gray-lightmedium);
	--token-price-color: var(--gray-darker);
	--tokens-panel-hover: var(--dark-hover);

	/*contacts panel*/
	--letter-divider: var(--black-background);
	--letter-color: var(--gray-lighter);
	--contact-hover-color: var(--gray-lightmedium);
	--newcontact-btn-bg: transparent;
	--newcontact-btn-color: var(--white-color);
	--newcontact-btn-bordertop: var(--white-color);
	--newcontact-btn-bg-hover: var(--blue-color);
	--newcontact-btn-color-hover: var(--white-color);

	/*history table*/
	--table-th-color: #cccccc;
	--table-th-background: var(--black-card);
	--table-tr-background: transparent;
	--table-tr-color: var(--gray-lightmedium);
	--table-td-color: var(--gray-lightmedium);
	--tr-even-backgorund: transparent;
	--tr-odd-backgorund: transparent;
	--expand-background: var(--dark-hover);
	--tr-border-bottom-color:  1px solid #3f3f3f;

	/*cards*/
	--info-card-background: var(--black-card);
	--info-card-bg-hover: #3b3b3b;

	/*accordion*/
	--accordion-header-color: var(--gray-lightmedium);
	--accordion-content-color: var(--gray-lightmedium);
	--accordion-header-color-hover: var(--gray-lighter);

	/*calendar*/
	--text-calendar: var(--white);
	--text-disabled-calendar: var(--gray-darker);

	/*scrollbar*/
	--scroll-track-background: var(--black-sidenav);
	--scroll-background: var(--black-sidenav);
	--scroll-thumb-background: var(--gray-darker);

	/* modal / dialog / wizard */
	--modal-background: var(--black-sidenav);
	--modal-color: var(--gray-medium);
	--modal-title-color: var(--gray-lighter);
	--modal-side-title-color: var(--gray-lighter);
	--modal-side-color: var(--gray-lighter);
	--modal-side-background: var(--black-background);
	--modal-step-background: #535353;
	--modal-step-line-background: #535353;
	--modal-step-off-color: var(--gray-lightmedium);
	--error-bg: #fbbdbd;

	/*  input */
	--input-label: var(--gray-lightmedium);

	/* lent resources table */
	--tr-resource-even-backgorund: var(--black-background);
	--tr-resource-odd-color: var(--gray-lighter);
	--tr-resource-odd-backgorund: transparent;
	--tr-hover: var(--dark-hover);

	/*REX page*/
	--rex-border-color: var(--black-background);

	--update-box-background: #1f1f1f;
	--update-box-border: var(--black-card);
	--chain-icon-bg: var(--gray-lighter);
}


html, body {
	background: var(--background-gd) !important;
	background: var(--background-gd-webkit) !important; /* Chrome 10-25, Safari 5.1-6 */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	color: var(--sidenav-color) !important;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	margin: 0;
}

:focus {
	outline: -webkit-focus-ring-color auto 5px;
	outline-color: -webkit-focus-ring-color;
	outline-style: none;
}

/*classes for colors*/
.highlight {
	color: var(--text-highlight) !important;
}

.highlight-primary {
	color: var(--text-highlight-primary) !important;
}

.highlight-accent {
	color: var(--text-highlight-accent) !important;
}

.free-title {
	color: var(--text-free-title-color);
}

.main-text {
	color: var(--text-card-color);
}

.text-faded {
	color: var(--text-faded);
}

.text-warn {
	color: var(--text-error) !important;
}

.error {
	color: var(--text-error) !important;
	font-weight: 600;
}

.text-on-cover {
	color: var(--text-on-cover);
}

.bold {
	font-weight: 500;
}
/*classes for colors end*/

/*buttons*/
.btn-primary {
	background-color: var(--btn-primary-bg) !important;
	color: var(--btn-primary-color) !important;
	border-color: var(--btn-primary-bg) !important;
}

.btn-primary:hover {
	background-color: var(--btn-primary-hover) !important;
	border-color: var(--btn-primary-hover) !important;
}

.btn-info-outline {
	border-color: var(--btn-info-outline) !important;
	background-color: transparent;
	color: var(--btn-info-outline) !important;
}

.btn-info-outline:hover {
	background-color: var(--btn-info-outline-hover) !important;
	color: var(--btn-info-outline-color-hover) !important;
}

.btn-inverse-outline {
	border-color: var(--btn-inverse-outline) !important;
	background-color: transparent;
	color: var(--btn-inverse-outline) !important;
}

.btn-inverse-outline:hover {
	background-color: var(--btn-inverse-outline-hover) !important;
	color: var(--btn-inverse-outline-color-hover) !important;
}

.btn-accent-outline {
	border-color: var(--btn-accent-outline) !important;
	background-color: transparent;
	color: var(--btn-accent-outline) !important;
}

.btn-accent-outline:hover {
	background-color: var(--btn-accent-outline-hover) !important;
	color: var(--btn-accent-outline-color-hover) !important;
}

.btn-primary-link {
	color: var(--btn-primary-link-color) !important;
}

.btn-primary-link:hover {
	color: var(--btn-primary-link-color-hover) !important;
}

.btn-accent-link {
	color: var(--btn-accent-link-color) !important;
}

.btn-accent-link:hover {
	color: var(--btn-accent-link-color-hover) !important;
}
/*buttons end*/

/*classes for cards*/
.info-card {
	background-color: var(--info-card-background);
	border-radius: 5px;
	border: 0;
	box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.22);
	color: var(--text-card-color);
}

.card-text-color {
	color: var(--text-card-color);
}

.card-title-color {
	color: var(--text-card-title-color);
}
/*classes for cards ends*/

.update-box {
	visibility: hidden;
	max-width: 13rem;
	min-width: 9rem;
	width: 18%;
	background-color: var(--update-box-background);
	text-align: center;
	border: 1px solid var(--update-box-border);
	/*border: 1px solid #343434;*/
	padding: 16px;
	position: fixed;
	z-index: 1;
	right: -1px;
	bottom: 0;
	margin: 20px;
}

.display-animation{
	display: var(--dashboard-animation-display);
	margin-left: auto;
	margin-right: auto;
}
.display-img{
	display: var(--dashboard-img-display);
}

.update-box.show {
	visibility: visible;
	-webkit-animation: fadein 1.8s;
	animation: fadein 1.8s;
}

.special-font{
	font-family:  var(--special-font-bold) !important;
	/*font-weight: bold;*/
}
.special-font-regular{
	font-family:  var(--special-font-regular) !important;
	/*font-weight: bold;*/
}

.title-header{
	color: var(--header-title-color)!important;
	font-size: 13px;
}
.header, .header.header-1, header, header.header-1 {
	background-color: var(--header-background) !important;
	/*color: var(--text-title-color) !important;*/
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;

}

.icon-header{
	color: var(--header-icon-color)!important;
}

.theme-icon {
	color: var(--theme-icon-color)!important;
}

.theme-icon:hover {
	color: var(--theme-icon-color-hover)!important;
}

.row-top-background{
	background-color: var(--sidenav-background) ;
}

/*.content-area {*/
/*	!*display: flex;*!*/
/*	!*flex-direction: column;*!*/
/*}*/

.content {
	height: calc(100% - 5.1rem) !important;
}

.content-page{
	height: calc(100vh - 1.7rem) !important;
	width: 100vw;
}

/*material's tabs*/
.mat-tab-group {
	font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
}

.mat-tab-labels {
	align-items: center;
}

.mat-tab-label {
	color: var(--sidenav-color);
	font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
	opacity: 1 !important;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
	background-color: var(--mat-tab-active);
}

.mat-tab-label-active {
	color: #e3e3e3;
}

.mat-tab-header, .mat-tab-nav-bar {
	border-bottom: 0 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background-color: var(--mat-tab-bar-active);
	height: var(--mat-tab-bar-height)
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
	border-color: #484848;
}

.mat-tab-header-pagination-chevron {
	border-color:  var(--input-label);
}

.mat-tab-label .mat-tab-label-content {
	display: flex !important;
	flex-direction: column;
}
.mat-tab-group.mat-primary .mat-tab-label.cdk-focused:not(.cdk-mouse-focused):not(.cdk-tab-disabled):not(.mat-tab-label-active) {
	background: none !important;
}

/*material's tab end*/

/*material's autocomplete*/
.mat-autocomplete-panel {
	background: var(--info-card-background);
	color: white;
}

.mat-option {
	color: var(--text-card-color);
}

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
	background: rgba(0, 0, 0, 0.12);
}

.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
	color: var(--text-highlight);
}

/*material's autocomplete end*/

/*material's input*/

.mat-form-field-appearance-legacy .mat-form-field-label {
	color:  var(--input-label);
}

.mat-form-field.mat-focused .mat-form-field-label {
	color: var(--text-highlight-primary);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
	background-color: var(--input-label);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
	background-color: var(--text-highlight-primary);
}

.mat-input-element {
	caret-color: var(--text-highlight-primary);
}

.mat-form-field-autofill-control {
	color: var(--text-highlight-primary);
}

/*material's input end*/

/*clarity's button*/
.btn {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	cursor: pointer;
}

.btn-danger-outline:hover {
	background-color: #c92100 !important;
	color: white !important;
}

.btn:focus {
	outline: 0 !important;
}

/*clarity's button end*/

/*clarity's toggle*/
.clr-toggle-wrapper input[type=checkbox]:checked + label::before {
	border-color: #0094d2 !important;
	background-color: #0094d2 !important;
}

.clr-toggle-wrapper .clr-control-label {
	font-weight: 500;
	font-size: 15px;
	color: var(--text-card-color);
}

.clr-toggle-wrapper > input:focus {
	outline: none !important;
}

/*clarity's toggle end*/

/*clarity's modal*/
.modal-dialog .modal-content {
	background-color: var(--modal-background) !important;
}

.modal-body div, .modal-body h4, .modal-body h5, .modal-body p {
	color: var(--modal-color);
}

.close:focus {
	box-shadow: none !important;
}

/*clarity's modal end*/

.token-title-color {
	color: var(--token-title-color);
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/*scroll bar*/
::-webkit-scrollbar-track {
	background-color: var(--scroll-background);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--scroll-background);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: var(--scroll-thumb-background);
}

/*scroll bar end*/

.animate {
	-webkit-animation: cssAnimation 0.456s 1 ease;
	-moz-animation: cssAnimation 0.456s 1 ease;
	-o-animation: cssAnimation 0.456s 1 ease;
}

@-webkit-keyframes cssAnimation {
	from {
		opacity: 0;
		transform: rotate(0deg) scale(1.1) skew(0deg) translate(0px);
	}
	to {
		-webkit-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
		opacity: 1;
	}
}

@-moz-keyframes cssAnimation {
	from {
		-moz-transform: rotate(0deg) scale(0.955) skew(0deg) translate(0px);
	}
	to {
		-moz-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
	}
}

@-o-keyframes cssAnimation {
	from {
		-o-transform: rotate(0deg) scale(0.955) skew(0deg) translate(0px);
	}
	to {
		-o-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px);
	}
}

/*clarity's input*/
input {
	border-bottom: none !important;
	background: none !important;
	color: var(--text-calendar) !important;
}

input:not([readonly]):focus {
	border-bottom: none !important;
}

input:not([readonly]) {
	background: none !important;
}
/*clarity's input end*/



/*clarity's wizard*/
.clr-wizard .modal-body, .clr-wizard .modal-body p, .clr-wizard .modal-body h5, .clr-wizard .modal-body h4 {
	color: var(--modal-color);
}

.clr-wizard .clr-wizard-stepnav-wrapper {
	border-right: 1px solid #535353 !important;
	background-color: var(--modal-side-background) !important;
}

.clr-wizard .clr-wizard-title {
	color: var(--modal-side-title-color) !important;
}

.clr-wizard .modal-title {
	color: var(--modal-title-color) !important;
}

.clr-wizard .clr-wizard-stepnav-item.active .clr-wizard-stepnav-link {
	background-color: var(--modal-step-background) !important;
}

.clr-wizard .clr-wizard-stepnav-item.complete {
	box-shadow: inset 0.16667rem 0 0 #0094d2 !important;
}

.clr-wizard .clr-wizard-stepnav-item {
	box-shadow: inset 0.16667rem 0 0 var(--modal-step-line-background) !important;
	color: var(--modal-side-color) !important;
}
.clr-wizard .clr-wizard-stepnav-item  .btn.btn-link:disabled {
	color:  var(--modal-step-off-color) !important;
}

.clr-wizard .clr-wizard-stepnav-item  .btn.btn-link:hover {
	color:  var(--modal-side-color) !important;
}

.clr-wizard .clr-wizard-stepnav-item.active {
	color: var(--modal-side-color) !important;
}

.clr-wizard-btn.btn-success {
	border-color: var(--btn-primary-bg) !important;
	background-color: var(--btn-primary-bg) !important;
	color: var(--btn-primary-color) !important;
}

.clr-wizard-btn.btn-success:hover {
	background-color: var(--btn-primary-hover) !important;
	color: var(--btn-primary-color) !important;
	border-color: var(--btn-primary-hover) !important;
}

.wiz-subtitle {
	font-size: .8rem;
	letter-spacing: .01em;
	line-height: 1.2rem;
}
/*clarity's wizard end*/

/*texts hints below input*/
.mat-hint {
	color: var(--text-faded) !important;
	font-size: 13px;
}

.mat-error {
	font-size: 13px;
}

/*texts hints below input below*/

/*material checkbox*/
.mat-checkbox-frame {
	border-color: var(--text-highlight-primary);
}

.mat-checkbox-label {
	font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif !important;
	color:  var(--text-highlight-primary);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: var(--text-highlight-primary);
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
	background: var(--text-highlight-primary);
}
/*material checkbox primary*/

.copy {
	margin-bottom: 8px;
}

.copy:hover {
	cursor: pointer;
	color: var(--text-highlight);
}

/*Prime's accordion*/
.ui-accordion .ui-accordion-content {
	border: 0 !important;
	border-top: 0 !important;
	background-color: transparent !important;
	color: var(--accordion-content-color) !important;
}

.ui-accordion-header:focus {
	outline: none;
}

.ui-accordion-header a:focus {
	outline: none;
}
.ui-accordion .ui-accordion-header {
	margin-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header a {
	padding: 0.5em !important;

}

.ui-accordion .ui-accordion-header {
	margin-top: 11px !important;
}

.nohighlight-accordion .ui-accordion .ui-state-default {
	border: 0 !important;
	background-color: transparent !important;
	color: #eeeeee !important;
}
.nohighlight-accordion .ui-accordion .ui-accordion-header a {
	padding: 0.571em 1em;
	border: 0 ;
	color: var(--accordion-header-color) !important;
}
.nohighlight-accordion .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
	color: var(--accordion-header-color) !important;
}

.ui-accordion .ui-state-default {
	border: 0 !important;
	background-color: var(--mat-tab-active) !important;
	color: #eeeeee !important;
}


.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon {
	color: var(--accordion-header-color-hover) !important;
}
.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
	background-color: transparent!important;
	border: 0!important;
	color: var(--accordion-header-color-hover) !important;
	border-radius: 0 0 5px 5px;
	margin: 0;
	text-decoration: none;
}

.ui-accordion .ui-accordion-header a {

	border: 0!important;
	background-color: transparent!important;
}

.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
	border:0 !important;
	background-color: transparent !important;
	/*color:  var(--text-title-color) !important;*/
}
.ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
	border:0 !important;
	background-color:transparent !important;
	/*color: var(--text-title-color);*/
}
.ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
	background-color:transparent !important;
	border:0 !important;
	/*color:  var(--text-title-color);*/
}

.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
	background-color: var(--accordion-hover-background);
	border: 1px solid #494949;
	/*color:  var(--text-title-color);*/
}

.ui-accordion .ui-accordion-header a:focus {
	box-shadow: none !important;
}

/*.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {*/
/*	border-color: #0094d2 !important;;*/
/*	background-color: #0094d2 !important;*/
/*	color: #ffffff !important;;*/
/*}*/

/*Prime's accordion end*/

.modal-title {
	color:  var(--modal-title-color) !important;
}

.ui-table .ui-sortable-column.ui-state-highlight {
	background-color: transparent !important;
	color: #0094d2 !important;
}

.ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
	color: var(--text-highlight) !important;
}


.ui-table .ui-sortable-column.ui-state-highlight:focus {
	outline: none;
}
.ui-table .ui-table-caption {
	color: var(--table-th-color) !important;
}

.ui-table .ui-table-caption, body .ui-table .ui-table-summary {
	background-color: var(--info-card-background) !important;
	border: 1px solid transparent !important;
}

.ui-table .ui-table-thead > tr > th {
	border: 0 !important;
	color: var(--table-th-color) !important;
	background-color: var(--table-th-background) !important;
}
.ui-table .ui-table-tfoot > tr > td{
	color: var(--table-td-color) !important;
	background-color: var(--tr-even-backgorund) !important;
	border: none !important;
}
.ui-table .ui-table-tbody > tr {
	color: var(--table-td-color) !important;
	background-color: var(--table-tr-background) !important;
}

/*.ui-table .ui-table-tbody > tr:nth-child(even) {*/
/*	background-color: var(--tr-even-backgorund) !important;*/
/*}*/

/*.ui-table .ui-table-tbody > tr:nth-child(odd) {*/
/*	background-color: var(--tr-odd-backgorund);*/
/*}*/


.ui-paginator {
	background-color: var(--table-th-background) !important;
	border: 0 !important;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
	background-color: var(--text-highlight-primary)!important;
	color: #ffffff;
}

.chain-icon {
	margin-right: 5px;
	background-color: var(--chain-icon-bg);
	padding: 3px;
	border-radius: 30px;
}

/*START LEDGER ACC LIST SELECTION */
.ledger-select .mat-pseudo-checkbox {
	color: var(--modal-color);
}

.ledger-select .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
	background: var(--btn-primary-bg);
}

.ledger-select .mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
	background: var(--tr-hover);
	border-radius: 8px;
}

.ledger-select .mat-list-text {
	color: var(--modal-title-color);
}

.ledger-select.mat-list-base {
	padding-top: 0;
	border: 1px solid var(--btn-primary-bg);
	border-radius: 8px;
	margin-top: 10px;
}

.ledger-select .mat-list-option {
	font-family: Metropolis, sans-serif;
	font-size: 15px;
}
/*END LEDGER ACC LIST SELECTION */

/*Confirm transaction error footer modal*/
.error-modal-footer {
	padding: 14px 27px 17px;
	background-color: var(--error-bg);
	border-top: 1px solid;
}

@media screen and (min-width: 577px) {
	.error-modal-footer {
		margin: 20px -27px -27px;
	}
}
@media screen and (max-width: 576px) {
	.error-modal-footer {
		margin: 20px -51px -23px -27px;
	}
}
/*Confirm transaction error footer modal END*/

/*material Radio button START*/
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
	border-color: var(--btn-primary-bg);
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
	background-color: var(--btn-primary-bg);
}

.mat-radio-outer-circle {
	border-color: var(--modal-color);
}
/*material Radio button END*/

/*material slider / toggle START*/
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
	background-color: var(--btn-primary-bg);
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
	background-color: var(--btn-primary-hover);
}
